<div id="menu" class="ui borderless top fixed menu">
  <div class="item">
    <img class="ui small image" src="http://www.jeuxdemots.org/logo-jdm/Logo_JDMrect_fond_transp.png">
  </div>
  <div class="ui header inverted item">Recherche sur JeuxDeMots !</div>

</div>
<div style="height:75.83px"></div>
<div class="ui centered">
  <div class="column">
    <app-search-bar></app-search-bar>
  </div>
  <div class="column" >
    <app-search-result></app-search-result>
  </div>
  <div class="column" *ngFor="let rela of lesRelations">
    <app-relation (changePlace)="upOrDown($event)" nomRelation="{{rela}}"></app-relation>
  </div>
</div>
